* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
input[type=checkbox] {
    display: none;
}
.form-check input[type=checkbox] {
    display: block;
}
.dropdown .drop_menu {
    display: none;
    position: absolute;
    left: -400px;
    top: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    width: 450px;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#cart_toggle:checked + .dropdown .drop_menu {
    display: block;
}
.order_detail {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.order_image {
    display: flex;
    align-items: center;
}
.go_order {
    background-color: #2f93b5;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    display: block;
}
.go_order:hover {
    background-color: #215f74;
    color: white;
}
.btn-info {
    background-color: #7dc51e;
    border-color: #7dc51e;
}
.btn-info:hover {
    background-color: #2f93b5;
    border-color: #2f93b5;
}
.order_btn {
    display: flex;
    align-items: center;
}
.btn_top {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.btn_top a button, form button {
    border: none;
    background-color: transparent;
}
form button i {
    color: red;
    font-size: 120%;
}