* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

input[type=checkbox] {
    display: none;
}
.form-check input[type=checkbox] {
    display: block;
}
.dropdown .drop_menu {
    display: none;
    position: absolute;
    left: -400px;
    top: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    width: 450px;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#cart_toggle:checked + .dropdown .drop_menu {
    display: block;
}
.order_detail {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.order_image {
    display: flex;
    align-items: center;
}
.go_order {
    background-color: #2f93b5;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    display: block;
}
.go_order:hover {
    background-color: #215f74;
    color: white;
}
.btn-info {
    background-color: #7dc51e;
    border-color: #7dc51e;
}
.btn-info:hover {
    background-color: #2f93b5;
    border-color: #2f93b5;
}
.order_btn {
    display: flex;
    align-items: center;
}
.btn_top {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.btn_top a button, form button {
    border: none;
    background-color: transparent;
}
form button i {
    color: red;
    font-size: 120%;
}

/* RESTAURANTS LIST PAGE */

.rest_info {
    height: 70px;
    text-align: center;
    padding-top: 10px;
}

.rest_info_typ {
    height: 70px;
    text-align: center;
    padding-top: 10px;
    color: black;
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rest_info_typ h2 {
    margin-bottom: 0;
}

.w_80 .rest_info h2 {
    margin-bottom: 0;
    margin-top: 7px;
    color: #2f93b5;
    text-align: center;
}

.w_80 .rest_card:hover .rest_info h2 {
    color: #7dc51e;
}

.linear .rest_info {
    justify-content: center;
}

.w_80 .rest_card {
    width: calc(100% / 3 - 40px);
    margin: 20px;
}

.rest_card {
    width: 390px;
    height: 250px;
    margin: 0 15px 15px 0;
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
}

.w_80 .rest_pic {
    width: auto;
}

.rest_pic {
    width: 390px;
    height: 180px;
    position: relative;
}

.rest_pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* RESTAURANT DETAILS PAGE */

.rest_det_main_cont {
    margin: 0 auto;
    width: 1200px;
    min-height: calc(100vh - (100px + 3rem));
    padding: 30px 0;
    font-family: 'Rubik', sans-serif;
}

input[type="button"] {
    border: none;
}

.rest_det_main_info {
    margin-bottom: 40px;
    display: flex;
}

.rest_det_main_info_pic {
    margin-right: 30px;
}

.rest_det_main_info_pic img {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.rest_det_btn {
    margin-top: 15px;
}

.rest_det_header {
    font-weight: 600;
}

h1,
.rest_det_info ul li {
    color: #555;
}

.rest_det_menu {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Rubik', sans-serif;
}

.rest_prod_card {
    width: 390px;
    height: 250px;
    margin: 0 15px 15px 0;
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
}

.rest_prod_card:nth-child(3n+3) {
    margin: 0 0 15px 0;
}

.rest_prod_pic {
    width: 390px;
    height: 180px;
    position: relative;
}

.rest_prod_details {
    position: absolute;
    top: 0;
    left: 0;
    width: 390px;
    height: 180px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    visibility: hidden;
}

.rest_prod_descr {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    max-width: 50%;
}

.rest_prod_pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rest_prod_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 20px 10px;
}

.rest_prod_text {
    max-width: 50%;
    margin-right: 20px;
}

.rest_prod_name {
    color: #2f93b5;
}

.rest_prod_name h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
}

.rest_prod_cart {
    max-width: 50%;
    display: flex;
    align-items: center;
}

.rest_prod_price {
    font-size: 18px;
    text-align: right;
    margin-right: 15px;
    margin-bottom: 0;
    color:#7dc51e;
    font-weight: 600;
}

.add_prod_btn {
    margin-bottom: 0;
    font-size: 18px;
    padding: 7px 15px 5px 12px;
}

.intol_cont {
    display: flex;
    align-items: center;
}

.intol_icon {
    margin-left: 10px;
}

.intol_icon img {
    width: 35px;
    height: 35px;
    object-fit: cover;    
}

.rest_prod_pic:hover .rest_prod_details {
    visibility: visible;
}

.add_prod_btn:hover {
    background: #2f93b5;
    color: #fff;
}

.add_prod_btn:active {
    background: #2f93b5;
    color: #7dc51e;
}

/* RIEPILOGO ORDINE */

.order_summary {
    padding: 40px 15%;
}

.order_summary h1, 
.order_summary h2 {
    font-size: 36px;
    color: #555;
    font-family: 'Staatliches', cursive;
    margin-bottom: 30px;
}

.os_cart_section {
    margin-bottom: 80px;
}

.os_cart_prod,
.os_total_cart {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.os_cart_prod {
    height: 100px;
}

.os_total_cart {
    height: 30px;
    padding-top: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.os_cart_prod > div,
.os_total_cart > div {
    height: 100%;
    margin-right: 20px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: #2f93b5;
}

.os_cart_prod > div p {
    margin: 0;
}

.os_cart_prod > div:last-child,
.os_total_cart > div:last-child {
    margin-right: 0;
}

.os_cart_prod_pic {
    height: 100px;
    width: 100px;
}

.os_cart_prod_pic img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.os_cart_prod_name,
.os_total_cart_text {
    flex-grow: 1;
}

.os_cart_prod_name h3 {
    color: #2f93b5;
    font-size: 18px;
    margin: 0;
}

.os_cart_prod_price,
.os_cart_prod_quantity,
.os_total_cart_price,
.os_total_cart_qty {
    justify-content: flex-end;
}


.os_cart_prod_price,
.os_cart_prod_quantity,
.os_total_cart_price,
.os_total_cart_qty {
    width: 100px;
}

.os_order_info_section form {
    display: flex;
    flex-direction: column;
}

.os_order_info_section label {
    color: #2f93b5;
    font-size: 18px;
    font-weight: 600;
    margin: 25px 0 10px;
}

.cart_prod_box {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.prqt_box {
    justify-content: flex-end;
}

.form-control:focus {
    background: none;
    border: 1px solid #555;
    box-shadow: none;
}

label.form-check-label,
.cart_prod_box h4 {
    margin: 0;
    font-size: 18px;
}

label.form-check-label {
    color: #2f93b5;
}

.cart_prod_box h4 {
    color: #555;
}

#name_label {
    margin: 0 0 10px;
}

.os_order_info_section input[type="text"],
.os_order_info_section textarea {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    padding: 8px;
    background: none;
    outline: none;
}

.os_order_info_section input[type="text"] {
    border-width: 0 0 1px 0;
}

.os_order_info_section textarea {
    border-width: 1px;
}

.pay_btn {
    margin: 20px 0;
    font-size: 15px;
}

.pay_btn i {
    margin-right: 10px;
    color: #fff;
}

.pay_btn:hover {
    background: #2f93b5;
    color: #fff;
}

.pay_btn:active {
    background: #2f93b5;
    color: #7dc51e;
}

@media screen and (max-width: 1200px) {

    .rest_det_main_cont {
        width: 795px;
    }

    .rest_prod_card:nth-child(3n+3) {
        margin: 0 15px 15px 0;
    }

    .rest_prod_card:nth-child(2n+2) {
        margin: 0 0 15px 0;
    }

    .w_80 .rest_card {
        width: calc(100% / 2 - 40px);
    }

}

@media screen and (max-width: 900px) {

    .rest_det_main_cont {
        width: 550px;
    }

    .rest_det_main_info {
        flex-direction: column;
        align-items: center;
    }
    
    .rest_det_main_info_pic {
        margin-right: 0;
        margin-bottom: 30px;
    }
    
    .rest_det_main_info_pic img {
        height: 200px;
        width: 390px;
        object-fit: cover;
    }
    
    .rest_det_btn {
        margin-top: 15px;
    }
    
    .rest_det_header {
        font-weight: 600;
    }
    
    .rest_det_info {
        width: 390px;
    }

    h1,
    .rest_det_info ul li {
        color: #555;
    }

    .rest_det_menu {
        justify-content: center;
    }

    .rest_prod_card:nth-child(3n+3) {
        margin: 0 0 15px 0;
    }

    .rest_prod_card:nth-child(2n+2) {
        margin: 0 0 15px 0;
    }

    .rest_prod_card {
        margin: 0 0 15px 0;
    }

    .w_80 .rest_card {
        width: calc(100% / 2 - 40px);
    }

}

@media screen and (max-width: 550px) {

    .rest_det_main_cont {
        width: 390px;
    }

    .rest_det_main_info {
        flex-direction: column;
        align-items: center;
    }
    
    .rest_det_main_info_pic {
        margin-right: 0;
        margin-bottom: 30px;
    }
    
    .rest_det_main_info_pic img {
        height: 200px;
        width: 390px;
        object-fit: cover;
    }
    
    .rest_det_btn {
        margin-top: 15px;
    }
    
    .rest_det_header {
        font-weight: 600;
    }
    
    .rest_det_info {
        width: 390px;
    }

    h1,
    .rest_det_info ul li {
        color: #555;
    }

    .rest_det_menu {
        justify-content: center;
    }

    .rest_prod_card:nth-child(3n+3) {
        margin: 0 0 15px 0;
    }

    .rest_prod_card:nth-child(2n+2) {
        margin: 0 0 15px 0;
    }

    .rest_prod_card {
        margin: 0 0 15px 0;
    }

    .w_80 .rest_card {
        width: 100%;
    }

}
