* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.boo_btn {
    font-size: 13px;
    font-weight: 600;
    padding: 6px 10px;
    border-radius: 5px;
    margin-bottom: 8px;
}

.btn_form {
    border-width: 0;
    margin-top: 15px;
}

.btn_form i {
    margin-right: 6px;
}

/* DASHBOARD */
a:hover {
    text-decoration: none;
}
body {
    font-family: 'Rubik', sans-serif;
}
.sidebar {
    width: 345px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #2f93b5;
    background-position: cover;
    z-index: 100;
    transition: width 300ms;
}
.sidebar_brand {
    display: block;
    width: 200px;
    margin: 20px 40px;
}
.sidebar_brand img {
    width: 100%;
}
.sidebar_mini_brand {
    width: 80%;
    display: none;
    margin: 20px 5px;
}
.sidebar_mini_brand img {
    width: 100%;
}
.sidebar_menu {
    margin-top: 40px;
}
#nav_toggle:checked + .sidebar {
    width: 70px;
    transition: width 300ms;
}
#nav_toggle:checked + .sidebar .sidebar_brand,
#nav_toggle:checked + .sidebar li a span {
    display: none;
}
#nav_toggle:checked + .sidebar .sidebar_mini_brand {
    display: inline-block;
}
#nav_toggle:checked + .sidebar li {
    padding-left: 0;
}
#nav_toggle:checked ~ .main_content {
    margin-left: 70px;
}
#nav_toggle:checked ~ .main_content header {
    width: calc(100% - 70px);
    left: 70px;
}
.sidebar_menu li {
    width: 100%;
    margin-bottom: 30px;
    padding-left: 20px;
}
.sidebar_menu a {
    padding-left: 20px;
    display: block;
    color: white;
    font-size: 120%;
}
.sidebar_menu a.active {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #2f93b5;
    border-radius: 30px 0 0 30px;
}
.sidebar_menu i {
    width: 30px;
    text-align: center;
}
.sidebar_menu .pattern {
    width: 100%;
    position: absolute;
    bottom: -150px;
    left: -20px;
    z-index: -2;
}
.sidebar_menu .pattern img {
    width: 100%;
    opacity: 0.2;
}
header {
    height: 90px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 345px;
    width: calc(100% - 345px);
    z-index: 100;
    transition: left 300ms;
}
#nav_toggle {
    display: none;
}
header .hamburger {
    display: flex;
    align-items: center;
}
header .hamburger label {
    margin-bottom: 0;
}
header .hamburger i {
    padding-right: 20px;
    font-size: 160%;
    cursor: pointer;
}
.search_wrapper {
    border: 1px solid #2f93b57f;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}
.search_wrapper input {
    height: 100%;
    padding: 10px;
    border: none;
    outline: none;
}
.search_wrapper i {
    padding-left: 20px;
    color: #7dc51e;
    font-size: 120%;
}
.user_wrapper {
    display: flex;
    align-items: center;
}
.user_wrapper img {
    border-radius: 50%;
    margin-right: 10px;
}
.user_wrapper small {
    display: inline-block;
    color: grey;
}
.main_content {
    margin-left: 345px;
    transition: margin-left 300ms;
}
main {
    margin-top: 90px;
    padding: 40px 20px;
    background-color: #ececec;
    min-height: calc(100vh - 90px);
}
.cards {
    display: flex;
    justify-content: space-between;
}
.cards .card_single:last-child {
    background-color: #7dc51e;
    color: white;
}
.cards .card_single:last-child i,
.cards .card_single:last-child span {
    color: white;
}
.card_single {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 60px 30px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: calc(100% / 4 - 20px);
    position: relative;
    overflow: hidden;
}
.card_single:hover {
    transform: scale(1.1);
    transition: 0.4s;
}
.card_single i {
    color: #7dc51e;
    font-size: 200%;
}
.card_single h1 {
    margin-bottom: 10px;
}
.card_single span {
    color: grey;
}
.card_single div:first-child,
.card_single div:last-child {
    z-index: 5;
}
.statistic_image {
    width: 100%;
}
.statistic_image img{
    width: 60%;
    position: absolute;
    bottom: -20px;
    right: 0;
}
.recent_box {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.recent_orders {
    width: 60%;
    margin-right: 20px;
}
.recent_costumers {
    width: 40%;
}
.card {
    background-color: white;
    margin: 30px 0;
    padding-bottom: 20px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 100%;
}
.card_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.card_header a {
    background-color: #2f93b5;
    color: white;
    border-radius: 10px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    transition: background 0.4s;
}
.card_header a:hover {
    background-color: #7dc51e;
    color: white;
    transition: 0.4s;
}
.card_header a i {
    margin-left: 10px;
}
.card_body {
    padding: 0 10px;
    width: 100%;
}
table {
    border-collapse: collapse;
    width: 100%;
    word-wrap: break-word;
}
table thead {
    font-weight: 600;
    border-top: 1px solid lightgrey;
}
table td {
    padding: 5px 10px;
    max-width: 250px;
}
table tbody tr {
    background-color: #2f93b57f;
}
table tbody tr:nth-of-type(2n+0) {
    background-color: #7dc51e7f;
}

/* DASHBOARD CONTENT */

.content_box {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.content_box a:hover {
    color: white;
    opacity: 0.8;
}
.action_btn {
    padding: 10px;
    color: white;
    border-radius: 2px;
    width: 35px;
    text-align: center;
}
.action_btn.show {
    background-color: #7dc51e;
}
.action_btn.edit {
    background-color: #2f93b5;
}
.action_btn.delete {
    background-color: red;
    border: none;
}
.action_btn.delete:hover {
    opacity: 0.8;
}
.top_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top_content h1 {
    color: #2f93b5;
}
.bottom_content table tbody tr {
    background-color: #ececec;
}
.bottom_content table tbody tr:nth-of-type(2n+0) {
    background-color: white;
}
.sect_main_title {
    color: #2f93b5;
    margin-right: 20px;
}

.create_btn {
    color: #fff;
    background: #7dc51e;
}

.back_btn {
    color: #fff;
    background: #2f93b5;
}

.bottom_content {
    padding-top: 10px;
}

/* DASHBOARD PRODUCTS */

.prod_info_cont {
    display: flex;
}

.prod_pic img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.prod_info {
    padding: 40px 100px 40px 40px;
}

.prod_cat {
    font-size: 14px;
    text-transform: uppercase;
    color: #2f93b5;
    margin-bottom: 5px;
}

.prod_price {
    font-size: 30px;
    font-weight: 600;
    color: #2f93b5;
    margin-bottom: 10px;
}

.prod_descr {
    font-size: 15px;
    color: #444;
    margin-bottom: 50px;
}

.prod_av {
    display: inline-block;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 8px 12px;
    color: #fff;
}

.av_yes {
    background: #7dc51e;
}

.av_no {
    background: #aaa;
}

/* DASHBOARD CATEGORIES */

.category_pic img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

/* DASHBOARD ORDERS */

.qt {
    display: none;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {
    .sidebar {
        width: 70px;
        transition: width 300ms;
    }
    .sidebar .sidebar_brand,
    .sidebar li a span,
    #nav_toggle:checked + .sidebar:hover .sidebar_mini_brand,
    .sidebar:hover .sidebar_mini_brand {
        display: none;
    }
    .sidebar li {
        padding-left: 0;
    }
    .main_content {
        margin-left: 70px;
    }
    .main_content header {
        width: calc(100% - 70px);
        left: 70px;
    }
    .sidebar:hover,
    #nav_toggle:checked + .sidebar:hover {
        width: 345px;
        z-index: 200;
    }
    .sidebar:hover .sidebar_brand {
        width: 200px;
    }
    .sidebar .sidebar_mini_brand,
    .sidebar:hover .sidebar_brand,
    .sidebar:hover li a span,
    #nav_toggle:checked + .sidebar:hover .sidebar_brand,
    #nav_toggle:checked + .sidebar:hover li a span {
        display: inline-block;
    }
    
    .sidebar:hover li {
        padding-left: 20px;
    }
    .sidebar:hover .sidebar_menu {
        margin-top: 0;
    }
    header .hamburger i {
        display: none;
    }
}
#orderschart, #saleschart {
    margin: 30px 0;
}
@media screen and (max-width: 950px) {
    .cards {
        flex-wrap: wrap;
    }
    .card_single {
        width: calc(100% / 2 - 15px);
        margin: 15px 0;
    }
    .card_single:hover {
        transform: scale(1.08);
    }
    .recent_box {
        flex-direction: column;
    }
    .recent_box > div {
        width: 100%;
    }
    .hidden_small {
        display: none;
    }
}
@media screen and (max-width:750px) {
    .search_wrapper {
        display: none;
    }
    .qt {
        display: block;
    }
    .quantity {
        display: none;
    }
    .hidden_xsm {
        display: none;
    }
}
@media screen and (max-width: 550px) {
    .content_box {
        width: 97%;
    }
    .card_single {
        width: 100%;
    }
    header .hamburger i {
        display: inline-block;
    }
    .sidebar,
    #nav_toggle:checked + .sidebar .sidebar_mini_brand {
        display: none;
    }
    #nav_toggle:checked ~ .main_content,
    .main_content {
        margin-left: 0;
    }
    #nav_toggle:checked ~ .main_content header,
    .main_content header {
        left: 0;
        width: 100%;
        z-index: 200;
    }
    #nav_toggle:checked + .sidebar {
        display: inline-block;
        width: 100%;
    }
    #nav_toggle:checked + .sidebar .sidebar_brand,
    #nav_toggle:checked + .sidebar li a span {
        display: inline-block;
    }
    #nav_toggle:checked + .sidebar:hover {
        width: 100%;
    }
    #nav_toggle:checked + .sidebar:hover .sidebar_menu {
        margin-top: 40px;
    }
    #nav_toggle:checked + .sidebar li {
        padding-left: 30px;
    }
    header .hamburger h2 {
        font-size: 120%;
        margin-right: 10px;
    }
    header .hamburger label i {
        background-color: #2f93b5;
        color: white;
        padding: 10px;
        border-radius: 50%;
        margin-right: 10px;
    }
    .statistic_image img {
        width: 50%;
    }
}
@media screen and (max-width: 450px) {
    .hidden_mobile {
        display: none;
    }
}